/* .calendar {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .calendar th {
    text-align: center;
    padding: 10px;
    background-color: #3d6edd;
    font-weight: bold;
    color: #fff;
  }
  
  .calendar td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
  }
  
  .calendar td a {
    color: #3d6edd;
    text-decoration: none;
  }
  
  .calendar td a:hover {
    text-decoration: underline;
  }
  
  .calendar td.available {
    background-color: #3d6edd;
    color: #fff;
  }
  
  .calendar-header {
    background-color: #3d6edd;
    font-size: 16px;
    color: #fff;
  }
  
  .calendar-footer {
    background-color: #3d6edd;
    font-size: 14px;
    color: #fff;
    padding: 5px;
  }
  
  .calendar-footer a {
    color: #fff;
    text-decoration: none;
  }
  
  .calendar-footer a:hover {
    text-decoration: underline;
  }
   */



   .calendar {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .calendar th {
    text-align: center;
    padding: 10px;
    background-color: #3d6edd;
    font-weight: bold;
    color: #fff;
  }
  
  .calendar td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
  }
  
  .calendar td a {
    color: #3d6edd;
    text-decoration: none;
  }
  
  .calendar td a:hover {
    text-decoration: underline;
  }
  
  .calendar td.available {
    background-color: #3d6edd;
    color: #fff;
  }
  
  .calendar-header {
    background-color: #3d6edd;
    font-size: 16px;
    color: #fff;
    padding: 10px;
  }
  
  .calendar-footer {
    background-color: #3d6edd;
    font-size: 14px;
    color: #fff;
    padding: 5px;
  }
  
  .calendar-footer a {
    color: #fff;
    text-decoration: none;
  }
  
  .calendar-footer a:hover {
    text-decoration: underline;
  }
  
  .calendar-heading {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #3d6edd;
    margin-bottom: 10px;
  }
  
  .calendar-name {
    text-align: center;
    font-size: 14px;
    color: #3d6edd;
    margin-top: 10px;
  }
  